{% extends 'base.html.twig' %}

{% block title %} - Inscription{% endblock %}

{% set vendeur = ["Vendeur"] %}


{% block body %}
    <div class="container mt-4">
        <h1 class="title" style="text-align: center;">Bonjour {{ userInfo.nom }} {{ userInfo.prenom }} !</h1>
        <div class="container mt-5">
            <h5>Nous voudrions savoir quel status voulez-vous obtenir sur KNC-Market :</h5>
            <form action="post">
                <div class="row justify-content-md-center mt-5">
                    <div class="col-md-6">
                        <div class="card text-white bg-light">
                            <h3 class="card-header" style="text-align:center">Acheteur</h3>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="/images-type/acheteur.png" style="width: 100%">
                                    </div>
                                    <div class="col-md-9">
                                        <h4>Acheteur :</h4>
                                        <p>En devenant acheteur vous pouvez <strong><u>uniquement</u></strong> acheter
                                            des articles se trouvant sur le site, du moment où ces derniers sont
                                            disponibles en vente.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card text-white bg-light">
                            <h3 class="card-header" style="text-align:center">{{ vendeur[0] }}</h3>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="/images-type/vendeur.png" style="width: 100%">
                                    </div>
                                    <div class="col-md-9">
                                        <h4>{{ vendeur[0]}} :</h4>
                                        <p>En devenant vendeur vous pouvez<strong><u>uniquement</u></strong> vendre des articles en tous genres, au prix souhaité, le site prend une commission de 5%."</p>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#{{ vendeur[0] }}">
                                    Choisir
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="{{ vendeur[0] }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Vendeur : </h5>
                    <button type="button" class="btn-primary btn" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Vous allez devenir <strong><u>vendeur</u></strong>, êtes-vous sûr ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Confirmer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}