{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    <div class="container mt-2">
        <h4 class="h4 mt-3">Liste des articles du moment</h4>
        <div class="row">
            {% for art in arts %}
                {% set imagefile = "" %}

                <div class="col-md-3">
                    <div class="card mb-3">
                        <div style="padding: 6px">
                            <a href="{{ path('show_art', {'slug' : art.slug}) }}">
                                {% for image in art.images|slice(0, 1) %}
                                    <img src="/uploads/{{ image.name }}" style="max-width: 100%; max-height: 100%">
                                {% endfor %}
                            </a>
                            <a style="color : lightgrey" href="{{ path('show_art', {'slug' : art.slug}) }}">
                                {{ art.name }}
                            </a>
                            <p>{{ art.prix }} €</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}